<!DOCTYPE html>
<html class="side-header" lang="ro">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<script type="ba1d1e617e71541c1fc8ed2f-text/javascript">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KB8MG4');</script>

<link rel="canonical" href="kassa.html" hreflang="ro" />
<link rel="alternate" href="../kassa.html" hreflang="ru-RU" />
<link rel="alternate" href="https://www.yclients.com/ua/kassa" hreflang="uk-UA" />
<link rel="alternate" href="https://www.yclients.com/hu/kassa" hreflang="hu" />
<link rel="alternate" href="https://www.yclients.com/tr/kassa" hreflang="tr" />
<link rel="alternate" href="https://www.yclients.com/en/kassa" hreflang="en" />
<link rel="alternate" href="https://www.yclients.com/hr/kassa" hreflang="hr" />
<title>YCLIENTS - Integrarea cu serviciile de numerar | YCLIENTS</title>
<meta name="description" content="YCLIENTS - Integrarea cu serviciile de numerar">
<meta name="author" content="YCLIENTS LLC">
<meta property="og:title" content="YCLIENTS - serviciu de înregistrare online și platformă de automatizare în domeniul de prestare a serviciilor." />
<meta property="og:description" content="Platforma vă permite să conectați înregistrarea online pe site, în rețelele de socializare și pe alte site-uri, precum și să trimiteți notificări, să gestionați personalul, să duceți o evidență a înregistrărilor de depozit și financiare. YCLIENTS este folosit de peste 23.000 de companii și milioane de vizitatori din Rusia, CSI și alte țări ale lumii." />
<meta property="og:image" content="/assets/yclients/img/en/og_image.png" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.yclients.com/ro/kassa" />
<link type="image/png" href="../favicon.png" rel="shortcut icon" />
<link rel="preload" href="../assets/yclients/2019-template/img/YCLIENTS_yellow_dot_sm.gif" as="image">

<link rel="preload" href="../assets/yclients/2019-template/img/logo-mini.svg" as="image">
<link rel="preload" href="../assets/yclients/2019-template/img/logo-mini.svg" as="image">
<link rel="preload" href="../assets/yclients/images/new_site/phone_ico_mob.svg" as="image" media="(max-width: 700px)">
<link rel="preload" href="../assets/yclients/images/new_site/appstore.svg" as="image" media="(max-width: 700px)">
<link rel="preload" href="../assets/yclients/images/new_site/google-play.svg" as="image" media="(max-width: 700px)">
<link rel="preload" href="../assets/yclients/images/new_site/select_arr.svg" as="image" media="(max-width: 700px)">





 












<script async src="https://www.googletagmanager.com/gtag/js?id=AW-970179016" type="ba1d1e617e71541c1fc8ed2f-text/javascript"></script>
<script type="ba1d1e617e71541c1fc8ed2f-text/javascript">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-970179016');
</script>
<noindex>

<script type="ba1d1e617e71541c1fc8ed2f-text/javascript">
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js", "ym");
    ym(20454571, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true,
        trackHash:true
    });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/20454571" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

</noindex>
<link href="../themes/yclients/new-2019/vendor.css" rel="stylesheet"><link href="../themes/yclients/new-2019/app.css" rel="stylesheet"><script async src='../cdn-cgi/bm/cv/669835187/api.js'></script></head>
<body>
<div class="loader">
<div class="sk-three-bounce loader_img">
<div class="sk-child sk-bounce1"></div>
<div class="sk-child sk-bounce2"></div>
<div class="sk-child sk-bounce3"></div>
</div>
</div>
<div class="body">

<header id="mob-header" class="header scrolled">
<div class="burger burger-open">
<span></span>
</div>
<div class="header-backdrop"></div>
<ul class="nav-list">
<li>
<a href="info/pricing.html">Prețurile</a>
</li>
<li>
<a href="reviews.html">Recenzii</a>
</li>

<li class="last-child">
<a href="../blog.html" target="_blank">
YJOURNAL
</a>

</ul>
<strong class="logo">
<a href="../ro.html"></a>
</strong>
<div class="inner-box">
<a href="https://www.yclients.com/onboarding/first" class="reg-link" target="_blank">ÎNREGISTRARE</a>
<a href="../signin.html" class="log-link mob-active" target="_blank">LOG IN</a>
</div>
<a href="tel:88005050475" class="tel_link mob">8 (800) 505-04-75</a>
</header>
<div class="menu-holder" id="block_id">
<div class="inner-wrap">
<div class="scroll-holder">
<div class="holder-box">
<div class="box">
<span class="title">Продукт:</span>
<span class="title mob">Функции продукта:</span>
<ul class="menu-list">
<li>
<a href="online-booking.html">Programare-online</a>
</li>
<li>
<a href="electronic-schedule.html">Agenda electronică</a>
</li>
<li>
<a href="sms-and-email-notification.html">Modul notificări</a>
</li>
<li>
<a href="client-base.html">Baza de date clienți</a>
</li>
<li>
<a href="statistics-and-analytics.html">Statistică și analitică</a>
</li>
<li>
<a href="inventory-control.html">Gestiune stoc</a>
</li>
<li class="small">
<a href="finances-and-accounting.html">Gestiune financiară</a>
</li>
<li class="small">
<a href="electronic-cards.html">Cartele electronice</a>
</li>
<li class="small">
<a href="calculation-of-salaries.html">Calcul salarii</a>
</li>
<li class="small">
<a href="personal-mobile-applications.html">Aplicație mobilă pentru clienți</a>
</li>
<li class="small">
<a href="loyalty-program.html">Programa de loialitate</a>
</li>
<li class="small">
<a href="kassa.html">Lucru cu aparatele de casă</a>
</li>
</ul>
</div>
<div class="box">
<ul class="menu-list style2">
<li>
<a href="info/pricing.html">Prețurile</a>
</li>
<li>
<a href="reviews.html">Recenzii</a>
</li>


<li class="small">
<a href="http://partners.yclients.com/" target="_blank" class="arr">Program de afiliere</a>
</li>
<li class="small">
<a href="../blog.html" target="_blank">
YJOURNAL
</a>
</li>
<li class="small">
<a href="info/contact.html">Feedback</a>
</li>

<li class="small">
<a href="http://support.yclients.com/hc/ru" target="_blank" class="arr">Baza de cunoștințe</a>
</li>
<li class="small">
<a href="https://developer.yclients.com/" target="_blank" class="arr">Pentru dezvoltatori</a>
</li>
</ul>
<div class="app-holder">
<h3 class="holder-title">Suntem în rețelele de socializare</h3>
<div class="header-row justify-content-end">
<ul class="header-social-icons social-icons social-icons-mobile social-icons-clean d-sm-0 ml-0">
<li>
<a href="https://www.facebook.com/yclients?roistat_visit=482540" target="_blank" title="Facebook" rel=”nofollow”>
<i class="fab fa-facebook-f"></i>
</a>
</li>
<li>
<a class="social-instagram" href="https://www.instagram.com/yclients/?roistat_visit=482540" target="_blank" title="Instagram" rel=”nofollow”>
<i class="fab fa-instagram"></i>
</a>
</li>
<li>
<a href="https://vk.com/yclients?roistat_visit=482540" target="_blank" title="Vk" rel=”nofollow”>
<i class="fab fa-vk"></i>
</a>
</li>
<li>
<a class="social-youtube" href="https://www.youtube.com/channel/UC6aHCPPSU9CDSA5cExZLd3Q?roistat_visit=482540" target="_blank" title="Youtube" rel="nofollow">
<i class="fab fa-youtube"></i>
</a>
</li>
<li>
<a class="social-twitter" href="https://twitter.com/yclients?roistat_visit=482540" target="_blank" title="Twitter" rel="nofollow">
<i class="fab fa-twitter">
</i>
</a>
</li>
</ul>
</div>
<h3 class="holder-title">Aplicație mobilă pentru angajați</h3>
<ul class="app-list">
<li>
<a href="https://itunes.apple.com/ru/app/yclients/id1084371596?mt=8" class="apple" target="_blank" rel="nofollow">
<span class="text">
<img class="lazy-img" src="../assets/yclients/images/new_site/apple_ico.png" alt="image description">
Apple Store
</span>
</a>
</li>
<li>
<a href="https://play.google.com/store/apps/details?id=apps.yclients1" class="gg" target="_blank" rel="nofollow">
<span class="text">
<img class="lazy-img" alt="image description" src="../assets/yclients/images/new_site/market_ico.png">
Google play
</span>
</a>
</li>
<li>
<a href="https://appgallery.huawei.com/app/C105004393?sharePrepath=ag" class="huawei" target="_blank" rel="nofollow">
<span class="text">
<img class="lazy-img" alt="image description" src="../assets/yclients/images/new_site/huawei_ico.png">
AppGallery
</span>
</a>
</li>
</ul> </div>
</div>
</div>
<div class="bottom-menu ">
<a href="../signin.html" class="log-link" target="_blank">LOG IN</a>
<a href="https://www.yclients.com/onboarding/first" class="reg-link pl-4" target="_blank">ÎNREGISTRARE</a>
<div class="select-mobile">
<div class="select-holder">
<select name="dropdown" class="dropdown-lang">
<option value="/en">En</option>
<option value="/el">El</option>
<option value="/hr">Hr</option>
<option value="/hu">Hu</option>
<option value="/pt">Pt</option>
<option value="/ru">Ru</option>
<option value="/sr">Sr</option>
<option value="/tr">Tr</option>
</select> </div>
</div>
</div>
</div>
</div>
</div>
<header id="header" class="side-header d-flex">
<div class="header-body">
<div class="header-container container d-flex h-100">
<div class="header-column flex-row flex-lg-column justify-content-center h-100">
<div class="header-row flex-row justify-content-start justify-content-lg-center py-lg-5">
<div class="header-logo">
<a href="../ro.html">
<img alt="YCLIENTS" src="../assets/yclients/2019-template/img/logo.svg">
</a>
</div>
</div>
<div class="header-row header-row-side-header flex-row h-100 pb-lg-5">
<div class="header-nav header-nav-links header-nav-links-side-header header-nav-links-vertical header-nav-links-vertical-columns align-self-center">
<div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders">
<nav class="collapse">
<ul class="nav nav-pills menu-nav_list" id="mainNav">
<li class="menu-nav_item">
<a href="online-booking.html">
Programare-online
</a>
</li>
<li class="menu-nav_item">
<a href="electronic-schedule.html">
Agenda electronică
</a>
</li>
<li class="menu-nav_item">
<a href="sms-and-email-notification.html">
Modul notificări
</a>
</li>
<li class="menu-nav_item">
<a href="client-base.html">
Baza de date clienți
</a>
</li>
<li class="menu-nav_item">
<a href="statistics-and-analytics.html">
Statistică și analitică
</a>
</li>
<li class="menu-nav_item">
<a href="inventory-control.html">
Gestiune stoc
</a>
</li>
<li class="dropdown">
<a class="dropdown-item dropdown-toggle" href="kassa.html#">
<strong style="font-weight: 600">Toate funcționalitățile</strong>
</a>
<ul class="dropdown-menu">
<li class="menu-nav_item">
<a class="dropdown-item" href="finances-and-accounting.html">Gestiune financiară</a>
</li>
<li class="menu-nav_item">
<a class="dropdown-item" href="loyalty-program.html">Programa de loialitate</a>
</li>
<li class="menu-nav_item">
<a class="dropdown-item" href="electronic-cards.html">Cartele electronice</a>
</li>
<li class="menu-nav_item">
<a class="dropdown-item" href="calculation-of-salaries.html">Calcul salarii</a>
</li>
<li class="menu-nav_item">
<a class="dropdown-item" href="personal-mobile-applications.html">Aplicație mobilă pentru clienți</a>
</li>
<li class="menu-nav_item">
<a class="dropdown-item" href="telephony.html">Integrare cu telefonie</a>
</li>
<li class="menu-nav_item">
<a class="dropdown-item" href="kassa.html">Integrare cu sistemele de casă</a>
</li>
</ul>
</li>
</ul>
</nav>
</div>
</div>
</div>
<div class="header-row justify-content-end pb-lg-3 hidden">
<ul class="header-social-icons social-icons d-none d-sm-block social-icons-clean d-sm-0 ml-0">
<li class="social-icons-facebook">
<a href="https://www.facebook.com/yclients?roistat_visit=482540" target="_blank" title="Facebook" rel=”nofollow”>
<i class="fab fa-facebook-f"></i>
</a>
</li>
<li class="social-icons-instagram">
<a class="social-instagram" href="https://www.instagram.com/yclients/?roistat_visit=482540" target="_blank" title="Instagram" rel=”nofollow”>
<i class="fab fa-instagram"></i>
</a>
</li>
<li class="social-icons-vk">
<a href="https://vk.com/yclients?roistat_visit=482540" target="_blank" title="Vk" rel=”nofollow”>
<i class="fab fa-vk"></i>
</a>
</li>
<li class="social-icons-youtube">
<a class="social-youtube" href="https://www.youtube.com/channel/UC6aHCPPSU9CDSA5cExZLd3Q?roistat_visit=482540" target="_blank" title="Youtube" rel="nofollow">
<i class="fab fa-youtube"></i>
</a>
</li>
<li class="social-icons-twitter">
<a class="social-twitter" href="https://twitter.com/yclients?roistat_visit=482540" target="_blank" title="Twitter" rel="nofollow">
<i class="fab fa-twitter">
</i>
</a>
</li>
</ul>
</div>
<div class="justify-content-end pb-lg-3 hidden">
<a href="https://itunes.apple.com/ru/app/yclients/id1084371596?mt=8" class="apple" target="_blank" rel="nofollow">
<img src="../assets/yclients/images/new_site/appstore.svg" alt="App Store"></span>
</a>
<a href="https://play.google.com/store/apps/details?id=apps.yclients1" class="gg" target="_blank" rel="nofollow">
<img src="../assets/yclients/images/new_site/google-play.svg" alt="Google Play">
</a>
<a href="https://appgallery.huawei.com/app/C105004393?sharePrepath=ag" class="huawei" target="_blank" rel="nofollow">
<img src="../assets/yclients/images/new_site/huawei.svg" alt="Google Play">
</a>
</div> </div>
</div>
</div>
</header>
<div class="top-header-row py-lg-4 d-none d-xl-block">
<ul class="nav-list">
<li>
<a href="info/pricing.html" class="anim-link-2">Prețurile</a>
</li>
<li>
<a href="reviews.html" class="anim-link-2">Recenzii</a>
</li>

<li>
<a href="../blog.html" class="anim-link-2" target="_blank">
YJOURNAL
</a>
</li>

</ul>
<ul class="inner-box">
<li>
<a href="https://www.yclients.com/onboarding/first" class="header-account header-signup anim-link-2">
ÎNREGISTRARE
</a>
</li>
<li>
<a href="../signin.html" class="header-account header-login anim-link-2">
LOG IN
</a>
</li>
</ul>
</div>

<main id="content">
<section class="vertical-center illust-block">
<div class="container">
<div class="row align-items-center">
<div class="col-md-7">
<div class="clearfix">
<h1 class="main-title">
Integrarea <br>
cu serviciile de numerar<br>
</h1>
<p class="mt-3 mb-4 w-md-80">
Integrarea vă permite să nu dublați contabilitatea în sistemul YCLIENTS și separat
la aparatul de marcat, ci să se lucreze într-o singură interfață obișnuită.
</p><div class="d-flex align-items-center mb-4">
<div class="avatar mr-2">
<img class="img-fluid rounded-circle" src="../assets/yclients/2019-template/img/fz-54.png" alt="Image Description">
</div>
<div class="mr-3">
<p class="mb-0">Soluțiile corespund 54-LF</p>
</div>
</div>
<a href="kassa.html#form-block" class="btn btn-warning pr-10 pl-10 transition-hover">Conectează</a>
<div class="mt-2">
<span class="o-3 ml-2 mr-1">7 zile</span>
<a href="https://www.yclients.com/onboarding/first" class="anim-link-2 anim-link-2-primary">
perioadă de probă<span class="icon-arrow-right ml-1"></span>
</a>
</div>
</div>
</div>
</div>
<div class="col-12 col-md-7 col-lg-7 position-illust position-illust-right-4 pr-0 main-image main-image pb-6">
<figure class="ie-main-hero">
<img src="../assets/yclients/2019-template/img/illustrations-img/kassa.png" class="w-70 position-illust position-illust-right-4" alt="Image Description">
</figure>
</div>
</div>
</section>
<section class="pt-0 pb-0" style="background: url(../assets/yclients/2019-template/img/kass-img.png) no-repeat center center;">
<div class="container">
<div class="row text-white">
<div class="col-md-12">
<h2 class="text-center pt-10 pb-5">
Cerințele legii
</h2>
</div>
</div>
<div class="row text-white pb-5">
<div class="col-md-4 text-center pb-3 pt-5">
<img src="../assets/yclients/2019-template/img/svg/terminal-2.svg" alt="logo" class="w-50px mb-3">
<p>
Cumpără sau închiriază<br>
casieriei online
</p>
<p>
Se potrivesc numai casieriile cu <br>
cumulare fiscală și <br>
acces la internet
</p>
</div>
<div class="col-md-4 text-center pb-3 pt-5">
<img src="../assets/yclients/2019-template/img/svg/terminal-3.svg" alt="logo" class="w-70px mb-3">
<p>
Trimiteți cecurile la<br>
Fisc
</p>
<p>
Pe Internet, în momentul <br>
plății prin CRF (de aceea) <br>
casieriile trebuie să fie întotdeauna online)
</p>
</div>
<div class="col-md-4 text-center pb-3 pt-5">
<img src="../assets/yclients/2019-template/img/svg/terminal-4.svg" alt="logo" class="w-50px mb-3">
<p>
Să se transmită informațiile <br>
despre comandă
</p>
<p>
În chitanță sunt obligatorii: <br>
denumirea produsului sau serviciului,<br>
prețul, cantitatea, cota TVA,<br>
informațiile despre dvs. și despre casieria în sine
</p>
</div>
</div>
</div>
</section>
<section class="pt-7 pb-0">
<div class="container">
<div class="row text-center mb-9">
<div class="col-md-12">
<h2>
Soluția de la Evotor
</h2>
<img src="../assets/yclients/2019-template/img/clients/evotor_01.png" alt="img yclients" style="width: 180px;" class="pt-2 pb-2">
<p class="text-color-dark pt-4 w-md-60 w-sm-80 m-auto">
<span class="fw-600">Evotor </span>este o casierie modernă online, cu un display și o simplă
interfață de management, creată pe baza tabletei.
</p>
<p class="text-color-dark pt-2 w-md-60 w-sm-80 m-auto">
Peste 250 de mii de antreprenori ruși folosesc terminale inteligente <span class="fw-600">Evotor.</span>
</p>
</div>
</div>
<div class="row">
<div class="col-md-5">
<img src="../assets/yclients/2019-template/img/evator-img-1.jpg" alt="Online Booking Software and Appointment Scheduling">
</div>
<div class="col-md-7">
<h3>
Posibilitățile Evotor-ului:
</h3>
<ul class="check-list pb-5">
<li class="text-color-dark">
Integrarea cu YCLIENTS
</li>
<li class="text-color-dark">
Asistență tehnică 24/7
</li>
<li class="text-color-dark">
Nu necesită instalarea de software suplimentară pentru<br>
deschidea / închiderea schimburilor, tipărirea rapoartelor X și Z
</li>
<li class="text-color-dark">
Aplicații proprii
</li>
</ul>
<h3>
Conexiune și cost:
</h3>
<ul class="check-list mb-0">
<li class="text-color-dark">
Opțiuni *:
</li>
</ul>
<ul style="list-style: none; padding-left: 22px;" class="mb-0">
<li class="text-color-dark pt-1 pb-1">
Evotor 7.2: 13 700 ₽
</li>
<li class="text-color-dark pt-1 pb-1">
Evotor 7.3: 13 700 ₽
</li>
<li class="text-color-dark pt-1 pb-1">
Evotor 5: 13 700 ₽
</li>
<li class="text-color-dark pt-1 pb-1">
Evotor 5i: 23 300 ₽
</li>
<li class="text-color-dark pt-1 pb-1">
Evotor 10: 17 700 ₽
</li>
</ul>
<ul class="check-list">
<li class="text-color-dark">
Programul de bază Evotor este gratuit.
</li>
<li class="text-color-dark">
Cererea de integrare cu YCLIENTS - 300 ₽ / lună.
</li>
</ul>
</div>
</div>
<div class="row text-center">
<div class="col-md-12 mt-9">
<p class="text-color-dark">
Cost total: de la 13 700 ₽ *
</p>
<a href="kassa.html#form-block" class="btn btn-warning pr-10 pl-10 transition-hover">Conectează</a>
<p class="mb-0 text-color-dark mt-4">
Modelele disponibile sunt Evotor 7.2, Evotor 7.3, Evotor 5, Evotor 5i, Evotor 10
</p>
<p class="text-color-dark mb-4">
Precizați costul și descrierea modelelor la manager
</p>
<p class="text-color-dark">
* fără cumulare fiscală
</p>
</div>
</div>
</div>
</section>
<section class="pt-7 pb-0">
<div class="container">
<div class="row text-center mb-9">
<div class="col-md-12">
<h2>
Soluție de la ModulKassa
</h2>
<img src="../assets/yclients/2019-template/img/clients/modulKassa.png" alt="img yclients" style="width: 180px;" class="pt-2 pb-2">
<p class="text-color-dark pt-4 w-md-60 w-sm-80 m-auto">
<span class="fw-600">ModulKassa</span> — tabletă, registrator fiscal
și terminalul POS într-un singur dispozitiv
</p>
<p class="text-color-dark pt-4 w-md-60 w-sm-80 m-auto">
Puteți lucra fie pe terminalul smart direct în aplicația YCLIENTS, fie puteți utiliza terminalul smart
doar pentru tipărirea chitanțelor, ci să lucrați în browserul unui computer obișnuit într-o interfață obișnuită
</p>
</div>
</div>
<div class="row">
<div class="col-md-5">
<img src="../assets/yclients/2019-template/img/modulKassa-img.jpg" alt="Online Booking Software and Appointment Scheduling" class="w-lg-80">
</div>
<div class="col-md-7">
<h3>
Posibilitățile ModulKassei:
</h3>
<ul class="check-list pb-5">
<li class="text-color-dark">
Integrarea cu YCLIENTS
</li>
<li class="text-color-dark">
Livrare în 93 de orașe
</li>
<li class="text-color-dark">
12 luni garanție
</li>
<li class="text-color-dark">
Ajutor la configurare și instruire
</li>
<li class="text-color-dark">
Asistență tehnică 24/7
</li>
<li class="text-color-dark">
Ecvaring accesibil de la Modulbank - 1,9%
</li>
<li class="text-color-dark">
Pentru deschiderea sau închiderea schimburilor, imprimarea rapoartelor X și Z<br>
trebuie să utilizați aplicația ModulKassa
</li>
<li class="text-color-dark">
Рассрочка от МодульБанка 0-0-12*
</li>
</ul>
<h3>
Подключение и стоимость:
</h3>
<ul class="check-list mb-0">
<li class="text-color-dark">
Terminal smart - 11 900 ₽
</li>
</ul>
<ul class="check-list mb-0">
<li class="text-color-dark">
Selectarea cumulatorului fiscal:
</li>
</ul>
<ul style="list-style: none; padding-left: 22px;" class="mb-0">
<li class="text-color-dark pt-1 pb-1">
Opțiunea 1: Cumulatorul fiscal 15 luni - 6900 ₽
</li>
<li class="text-color-dark pt-1 pb-1">
Opțiunea 2: Cumulatorul fiscal 36 luni - 10 900 ₽
</li>
 </ul>
<ul class="check-list">
<li class="text-color-dark">
Software ModuleCash: 5880 ₽ / an
</li>
</ul>
</div>
</div>
<div class="row text-center">
<div class="col-md-12 mt-9">
<p class="text-color-dark">
от 2057 ₽ в месяц*
</p>
<a href="kassa.html#form-block" class="btn btn-warning pr-10 pl-10 transition-hover">Conectează</a>
<p class="mb-0 text-color-dark pt-4 w-md-60 w-sm-80 m-auto">
*Предоставляется кредит на стоимость, уменьшенную на сумму процентов по кредиту.
Услуга предоставляется АО КБ “МодульБанк”. Лицензия ЦБ РФ № 1927 от 16.03.2016 г.
Предложение не является офертой.
Подробнее по ссылке — <a href="https://modulbank.ru/credit/" rel="nofollow">
https://modulbank.ru/credit/
</a>
</p>
</div>
</div>
</div>
</section>
<section class="pt-7 pb-0">
<div class="container">
<div class="row text-center mb-9">
<div class="col-md-12">
<h2>
Soluție de la LIFE PAY
</h2>
<img src="../assets/yclients/2019-template/img/clients/life_pay_logo_3.png" alt="img yclients" style="width: 180px;" class="pt-2 pb-2">
<p class="text-color-dark w-md-60 w-sm-80 m-auto">
<span class="fw-600">LIFE PAY</span> este o soluție care constă din microcomputer
Raspberry Pi și registratorul fiscal Atol sau Ștrih.
</p>
<p class="text-color-dark pt-4 w-md-60 w-sm-80 m-auto">
Permite imprimarea chitanțelor de pe orice dispozitiv: computer, tabletă sau smartphone, folosind
interfața obișnuită YCLIENTS în browser sau într-o aplicație iOS sau Android.
</p>
</div>
</div>
<div class="row">
<div class="col-md-5">
<img src="../assets/yclients/2019-template/img/life_pay_logo.jpeg" alt="Online Booking Software and Appointment Scheduling" class="mb-5">
</div>
<div class="col-md-7">
<h3>
Posibilitățile LIFE PAY
</h3>
<ul class="check-list pb-5">
<li class="text-color-dark">
Integrarea cu YCLIENTS
</li>
<li class="text-color-dark">
Asistență tehnică 24/7
</li>
<li class="text-color-dark">
Ajutor la configurare și instruire
</li>
<li class="text-color-dark">
Integrare perfectă cu ecuaringul după cel mai bun<br>
tarif fără taxe suplimentare de serviciu
</li>
<li class="text-color-dark">
Conectarea casieriei la alte canale de fiscalizare<br>
(magazin online, specialiști în domeniu)
</li>
<li class="text-color-dark">
Nu necesită un software suplimentar pentru<br>
deschiderea sau închiderea schimburilor, imprimarea rapoartelor X și Z
</li>
<li class="text-color-dark">
Suport pentru registratorilor fiscali ATOL și Ștrih
</li>
</ul>
<h3>
Registratorii fiscali
</h3>
<ul class="check-list mb-0">
<li class="text-color-dark">
ATOL 1F — 6500 ₽
</li>
<li class="text-color-dark">
ATOL 30F — 9900 ₽
</li>
<li class="text-color-dark">
ATOL 11F — 11 900 ₽
</li>
<li class="text-color-dark">
ATOL 20F — 13 900 ₽
</li>
<li class="text-color-dark">
ATOL 50F — 13 500 ₽
</li>
</ul>
<ul class="check-list">
<li class="text-color-dark">
Microcomputer - 5990 ₽
</li>
</ul>
<h3>
Cumulatori fiscali
</h3>
<li class="text-color-dark">
15 luni — 7500 ₽
</li>
<li class="text-color-dark pt-1 pb-1">
36 luni — 10 500 ₽
</li>
<li class="text-color-dark">
Software LIFE PAY cu integrare YCLIENTS -<br>
gratuit pentru primul an. Următorul - 5000 ₽ pe an
</li>
</div>
</div>
<div class="row text-center">
<div class="col-md-12 mt-9">
<p class="text-color-dark">
Cost total: de la 19 990 ₽
</p>
<a href="kassa.html#form-block" class="btn btn-warning pr-10 pl-10 transition-hover">Conectează</a>
<p class="mb-0 text-color-dark pt-4 w-md-60 w-sm-80 m-auto">
LIFE PAY oferă serviciul „Un Start Facil”, care include setările aparatului de marcat la cheie:
lansarea semnăturii electronice, acordul cu OFD pentru transferul de date la biroul fiscal, înregistrarea
aparatului de marcat la biroul fiscal și livrarea acestuia în toată Federația Rusă. Costul serviciului - 6500 ₽
</p>
</div>
</div>
</div>
</section>
<section class="section pt-7 pb-0">
<div class="container">
<div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
<i class="clearfix icon-question-mark fs-60 text-primary"></i>
<h2>
Întrebări despre FZ-54
</h2>
</div>
<div class="row justify-content-center">
<div class="col-md-9">
<div class="js-ui-accordion">
<p class="card-title fw-600 text-dark">
Ce este o casierie online?
</p>
<div class="card-body">
Pe scurt, casieria online este o casă de marcat nouă, cu cumulare fiscală, acces la internet și capacitate de a lucra cu OFD.
</div>
<p class="card-title fw-600 text-dark">
Cine este obligat să utilizeze casieria online în 2019?
</p>
<div class="card-body">
Toți cei care utilizează casele de marcat atunci când se achită reciproc cu clienții. Unii antreprenori folosesc casele de marcat online începând cu 1 februarie 2017, dar mulți încă nu au început - trebuie să le înregistreze până la 1 iulie 2019.
</div>
<p class="card-title fw-600 text-dark">
Când intră în vigoare modificările legii?
</p>
<div class="card-body">
<ul>
<li>
La achitarea cu cardul de credit sau în numerar (de exemplu, la primirea produselor), cecurile trebuie trimise începând cu 1 iulie 2017.
</li>
<li>
 Dacă se plătește într-un alt mod (cu monedă electronică sau prin intermediul Internet băncii) - cecurile trebuie trimise începând cu <span class="fw-600">1 iulie 2019.</span>
</li>
</ul>
</div>
<p class="card-title fw-600 text-dark">
Pe chitanță trebuie trecută lista tuturor produselor și serviciilor?
</p>
<div class="card-body">
Da. Lista produselor și serviciilor cu prețul și adaosul TVA.
<br>
Excepții: Întreprinderile individuale cu brevet, USN, .... (fără accize) pot să nu indice nomenclatura până la 1 februarie 2021.
</div>
<p class="card-title fw-600 text-dark">
Se poate transfera casieria online în alt loc?
</p>
<div class="card-body">
<ul>
<li>
Adresa locului de înregistrare al casieriei (la care Serviciul Fiscal Federal va putea găsi casieria, dacă este necesar). Pentru modificarea adresei, casa de marcat trebuie reînregistrată la biroul fiscal.
</li>
<li>
Adresa locului de aplicare – este indicată la plată și poate fi modificată. Curierii indică adresa la care primesc banii de la client. Antreprenorii din acest domeniu indică adresa site-ului.
</li>
</ul>
</div>
<p class="card-title fw-600 text-dark">
Care sunt penalitățile pentru lipsa casieriei online?
</p>
<div class="card-body">
Dacă fiscul depistează pentru prima dată o încălcare, antreprenorul va trebui să plătească o parte din încasările pe care le-a primit fără a fi trecute prin casa de marcat:
<ul>
<li>
Întreprinderile individuale - de la 25% la 50%, dar nu mai puțin de 10 000 ₽;
</li>
<li>
organizațiile - de la 75% la 100%, dar nu mai puțin de 30 000 ₽.
</li>
</ul>
Dacă antreprenorul a plătit amenda, dar continuă să lucreze fără o casă de marcat și încasările depășesc 1 000 000 ₽, atunci șefului i se va interzice să dețină această funcție timp de 1-2 ani. Iar activitățile întreprinzătorului sau organizației individuale vor fi suspendate până la 90 de zile
</div>
</div>
</div>
</div>
</div>
</section>
<section class="section pb-0" id="form-block" style="z-index: 1;">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<h2 class="mb-5">
Mai aveți întrebări?
</h2>
</div>
<div class="col-md-6 m-auto col-12">
<script type="ba1d1e617e71541c1fc8ed2f-text/javascript">var amo_forms_params = {"id":524301,"hash":"9e8270767666958f6d83b8a96fe1d1ba","locale":"ru"};</script>
<script id="amoforms_script" async="async" charset="utf-8" src="https://forms.amocrm.ru/forms/assets/js/amoforms.js" type="ba1d1e617e71541c1fc8ed2f-text/javascript"></script>
</div>
</div>
</div>
</section>
<section class="section">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">

<h2 class="mb-6">
De ce liderii aleg YCLIENTS?
</h2>

</div>
</div>
<div class="row">
<div class="col-md-6">
<div id="slider-image" class="slider-clients" data-provide="slider" data-as-nav-for="#slider-thumb" data-arrows="true">
<div class="slider-clients_box">
<img src="../assets/yclients/images/new_site/clients_big/1x/7-1.jpg" alt="Image Description">
<a href="https://www.youtube-nocookie.com/embed/QWWmdeFZBd0?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;modestbranding=1" class="m-video-link" data-provide="lightbox" rel="”nofollow”">
<div class="m-video-link--icon">
<i class="fas fa-play"></i>
</div>
</a>
</div>
<div class="slider-clients_box">
<img src="../assets/yclients/images/new_site/clients_big/1x/5.jpg" alt="Image Description">
<a href="https://www.youtube-nocookie.com/embed/cpZ-xYRIWmg?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;modestbranding=1" class="m-video-link" data-provide="lightbox" rel="”nofollow”">
<div class="m-video-link--icon">
<i class="fas fa-play"></i>
</div>
</a>
</div>
<div class="slider-clients_box">
<img src="../assets/yclients/images/new_site/clients_big/1x/8-1.jpg" alt="Image Description">
<a href="https://www.youtube-nocookie.com/embed/1cOcSDln5wc?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;modestbranding=1" class="m-video-link" data-provide="lightbox" rel="”nofollow”">
<div class="m-video-link--icon">
<i class="fas fa-play"></i>
</div>
</a>
</div>
<div class="slider-clients_box">
<img src="../assets/yclients/images/new_site/clients_big/1x/1-1.jpg" alt="Image Description">
<a href="https://www.youtube-nocookie.com/embed/GYFWaS-m5mg?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;modestbranding=1" class="m-video-link" data-provide="lightbox" rel="”nofollow”">
<div class="m-video-link--icon">
<i class="fas fa-play"></i>
</div>
</a>
</div>
<div class="slider-clients_box">
<img src="../assets/yclients/images/new_site/clients_big/1x/2-1.jpg" alt="Image Description">
<a href="https://www.youtube-nocookie.com/embed/zgkRKWWhA5Y?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;modestbranding=1" class="m-video-link" data-provide="lightbox" rel="”nofollow”">
<div class="m-video-link--icon">
<i class="fas fa-play"></i>
</div>
</a>
</div>
</div>
</div>
<div class="col-md-6">
<div id="slider-thumb" data-provide="slider" data-as-nav-for="#slider-image" data-slides-to-show="1" data-center-mode="true" data-dots="true" data-focus-on-select="true">
<div>
<blockquote class="blockquote testimonial-quote ml-8 mt-4">
<p class="mb-0 text-dark fw-500">
YCLIENTS vă ajută să vă planificați ziua la salon și să înțelegeți câți clienți vor veni, câți dintre ei sunt fideli, câți sunt noi și cum să completați intervalele de timp liber. Acesta este un instrument important pentru fiecare administrator.
</p>
</blockquote>
<div class="d-flex align-items-center">
<div class="avatar mr-4">
<img class="img-fluid rounded-circle" src="../assets/yclients/images/new_site/brands_smile/5-1.png" alt="Image Description">
</div>
<div class="mr-3">
<h4 class="fs-16 mb-0">Alexander Bratslavsky</h4>
<small class="text-muted">
Fondator "Punctul beauty"
</small>
</div>
</div>
</div>
<div>
<blockquote class="blockquote testimonial-quote ml-8 mt-4">
<p class="mb-0 text-dark fw-500">
Dacă nu ar exista YCLIENTS, nu aș putut să devin lider atât de repede. Cuprindeți două lucruri importante. Menținerea întregii „ferme colective”, adică gestiunea totală. Și un sistem de programare. Realizarea programului dvs. la început este aproape imposibilă. Și dați o astfel de oportunitate tuturor.
</p>
</blockquote>
<div class="d-flex align-items-center">
<div class="avatar mr-4">
<img class="img-fluid rounded-circle" src="../assets/yclients/images/new_site/brands_smile/6.jpg" alt="Image Description">
</div>
<div class="mr-3">
<h4 class="fs-16 mb-0">Alexey Lokontsev</h4>
<small class="text-muted">Top managerul rețelei TopGun</small>
</div>
</div>
</div>
<div>
<blockquote class="blockquote testimonial-quote ml-8 mt-4">
<p class="mb-0 text-dark fw-500">
Majoritatea recenziilor vin prin sistemul YCLIENTS. Oamenii scriu comentarii detaliate pe care le studiem în fiecare zi. La sfârșitul lunii facem un rezumat la rezultatele lucrărilor. Avem planuri de dezvoltare. Există un sistem de bonusuri. Totul este digitalizat prin YCLIENTS
</p>
</blockquote>
<div class="d-flex align-items-center">
<div class="avatar mr-4">
<img class="img-fluid rounded-circle" src="../assets/yclients/images/new_site/brands_smile/7-1.png" alt="Image Description">
</div>
<div class="mr-3">
<h4 class="fs-16 mb-0">
Maria Dyakonova
</h4>
<small class="text-muted">
Fondator "City Nails"
</small>
</div>
</div>
</div>
<div>
<blockquote class="blockquote testimonial-quote ml-8 mt-4">
<p class="mb-0 text-dark fw-500">
În perioada când am început să folosim YCLIENTS aveam 3 saloane. Acum 60. YCLIENTS este în continuă îmbunătățire. Dacă mai demult era un program pentru programare și agendă, acum ținem în YCLIENTS atât o gestiunea stocului, cât și salariu, analizăm eficacitatea fiecărui specialist.
</p>
</blockquote>
<div class="d-flex align-items-center">
<div class="avatar mr-4">
<img class="img-fluid rounded-circle" src="../assets/yclients/images/new_site/brands_smile/1-1.png" alt="Image Description">
</div>
<div class="mr-3">
<h4 class="fs-16 mb-0">
Tatiana Shutova
</h4>
<small class="text-muted">
Fondator "4hands"
</small>
</div>
</div>
</div>
<div>
<blockquote class="blockquote testimonial-quote ml-8 mt-4">
<p class="mb-0 text-dark fw-500">
Nu mă mai interesează doar programarea unui client și verificarea. Cu YCLIENTS, construim o pâlnie automatizată cu notificări automate și alte funcții de remarketing.
</p>
</blockquote>
<div class="d-flex align-items-center">
<div class="avatar mr-4">
<img class="img-fluid rounded-circle" src="../assets/yclients/images/new_site/brands_smile/2-2.jpg" alt="Image Description">
</div>
<div class="mr-3">
<h4 class="fs-16 mb-0">
Alexandru dolgov si Kira Dolgova
</h4>
<small class="text-muted">
Fondatori "Laser Love"
</small>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="section custom-section-1">
<div class="container">
<div class="text-center">
<i class="fa fa-coins fs-40 text-primary mb-3"></i>
</div>
<div class="w-md-80 w-lg-50 text-center mx-md-auto mb-4">
<blockquote class="lead fs-26">
Platforma<br>pentru automatizarea afacerii<br>
<small class="fs-14">După prețul unei căni de cafea bună</small>
</blockquote>
</div>
<div class="d-flex justify-content-center align-items-center text-center w-lg-50 mx-auto">
<div class="ml-3">
<h4 class="h1 mb-0">de la 570 ₽ pe lună</h4>
</div>
</div>
</div>
</section>
<section class="m-gab-2">
<div class="container py-3">
<div class="row">
<div class="col-12 text-center">
<h2 class="mb-4">
Alăturați-vă celor 31.000 de companii,<br>
care au încredere în YCLIENTS
</h2>
<p class="mb-0 text-dark fw-500">
Testați toate funcționalitățile gratuit timp de 7 zile!
</p>
<p class="text-center mt-7">
<a href="https://www.yclients.com/onboarding/first" target="_blank" class="btn btn-warning pr-5 pl-5 transition-hover">
Testează gratuit
</a>
</p>
</div>
</div>
</div>
</section>

</main>


<div class="fixed-bottom-box">
<div class="callback-wrapper">
<a href="tel:40368228212" class="tel_link">
+40 368 22 82 12
</a>

</div>
<div class="select-holder">
<select name="dropdown" class="dropdown-lang">
<option value="/en">En</option>
<option value="/el">El</option>
<option value="/hr">Hr</option>
<option value="/hu">Hu</option>
<option value="/pt">Pt</option>
<option value="/ru">Ru</option>
<option value="/sr">Sr</option>
<option value="/tr">Tr</option>
</select> </div>
</div>
</div>











<script src="../themes/yclients/new-2019/all.min.js%3Fv2.22" async type="ba1d1e617e71541c1fc8ed2f-text/javascript"></script>




<script type="ba1d1e617e71541c1fc8ed2f-text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40235336-1', 'auto');
    ga('send', 'pageview');
</script>

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KB8MG4"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<noindex>
<script type="ba1d1e617e71541c1fc8ed2f-text/javascript" src="https://connect.facebook.net/en_US/all.js"></script>
<div class="modal inmodal animated bounceInRight" id="callModal" role="dialog" style="display: none;">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header text-center">
<button type="button" class="close" onclick="if (!window.__cfRLUnblockHandlers) return false; ms.callback.hideWidget()" data-dismiss="modal" data-cf-modified-ba1d1e617e71541c1fc8ed2f-=""><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
<img src="../assets/yclients/images/new_site/phone-receiver.png" alt="Online Booking Software and Appointment Scheduling" alt="Online Booking Software and Appointment Scheduling">
<div class="modal-title">У Вас остались вопросы?</div>
<small class="font-bold">Мы перезвоним Вам в течение 59 секунд</small>
</div>
<div class="modal-body">
<form class="form-horizontal">
<div class="form-group">
<input type="tel" placeholder="Введите телефон" class="phone form-control" id="callBack">
</div>
<div class="form-group">
<div class="agreement-block">
<input type="checkbox" name="agreement" id="agreement-block" checked />
<label for="agreement-block">Я согласен на обработку персональных данных и принимаю <a href="https://www.yclients.com/info/confidential" target="_blank">политику конфиденциальности</a></label>
</div> </div>
<div class="form-group text-center m-b-none">
<a class="btn btn-primary" id="makeCallButton" onclick="if (!window.__cfRLUnblockHandlers) return false; return ms.callback.makeCall();" data-loading-text="Loading..." style="    padding: 5px 13px; font-size: 14px;" data-cf-modified-ba1d1e617e71541c1fc8ed2f-="">
Жду звонка!
</a>
</div>
</form>
</div>
<div class="modal-footer" style="text-align:center">
<div class="modal-title">засекайте...</div>
<div>
<span class="timer_result" id="timer_result">0:<span class="callback_time">59</span>,00</span>
</div>
</div>
</div>
</div>
</div>
</noindex>
<script type="ba1d1e617e71541c1fc8ed2f-text/javascript" src="../themes/yclients/new-2019/1.bundle.js%3Fv2.22"></script><script type="ba1d1e617e71541c1fc8ed2f-text/javascript" src="../themes/yclients/new-2019/bundle.js%3Fv2.22"></script><script src="../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="ba1d1e617e71541c1fc8ed2f-|49" defer=""></script><script type="text/javascript">(function(){window['__CF$cv$params']={r:'71700bb79e069dd8',m:'Yxb0IRkiNXHDuXdz3QVkEzMm_u_u8DPGI9WN_rUg_ao-1654506950-0-ATPPkK+RLnw2RP4w6/Zeh27m41O9bFLPrcX4h+5h9Vu1WQqYDcPPvYqT1ulvp8tTHZ9ynsSbnpRg277W5BUgMp3F2o7gaQvi2ovjc8yTr0uHWsD4zcBcADzze2vPunXrSA==',s:[0xc5428894fe,0x43dda0b0fe],}})();</script></body>
</html>
