<!DOCTYPE html>
<html class="side-header" lang="ro">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<script type="b8c2178d8f57671fd765916b-text/javascript">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KB8MG4');</script>

<link rel="canonical" href="reviews.html" hreflang="ro" />
<link rel="alternate" href="../reviews.html" hreflang="ru-RU" />
<link rel="alternate" href="https://www.yclients.com/ua/reviews" hreflang="uk-UA" />
<link rel="alternate" href="https://www.yclients.com/hu/reviews" hreflang="hu" />
<link rel="alternate" href="https://www.yclients.com/tr/reviews" hreflang="tr" />
<link rel="alternate" href="https://www.yclients.com/en/reviews" hreflang="en" />
<link rel="alternate" href="https://www.yclients.com/hr/reviews" hreflang="hr" />
<title>Отзывы | YCLIENTS</title>
<meta name="description" content="Отзывы клиентов">
<meta name="author" content="YCLIENTS LLC">
<meta property="og:title" content="YCLIENTS — сервис онлайн-записи и платформа автоматизации для сферы услуг." />
<meta property="og:description" content="Платформа позволяет подключить онлайн-запись на сайте, в социальных сетях и на других площадках, а также рассылать уведомления, управлять работой персонала, вести складской и финансовый учёт. YCLIENTS используют более 23.000 компаний и миллионы посетителей в России, СНГ и других странах мира." />
<meta property="og:image" content="/assets/yclients/img/en/og_image.png" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.yclients.com/ro/reviews" />
<link type="image/png" href="../favicon.png" rel="shortcut icon" />
<link rel="preload" href="../assets/yclients/2019-template/img/YCLIENTS_yellow_dot_sm.gif" as="image">

<link rel="preload" href="../assets/yclients/2019-template/img/logo-mini.svg" as="image">
<link rel="preload" href="../assets/yclients/2019-template/img/logo-mini.svg" as="image">
<link rel="preload" href="../assets/yclients/images/new_site/phone_ico_mob.svg" as="image" media="(max-width: 700px)">
<link rel="preload" href="../assets/yclients/images/new_site/appstore.svg" as="image" media="(max-width: 700px)">
<link rel="preload" href="../assets/yclients/images/new_site/google-play.svg" as="image" media="(max-width: 700px)">
<link rel="preload" href="../assets/yclients/images/new_site/select_arr.svg" as="image" media="(max-width: 700px)">


















<script async src="https://www.googletagmanager.com/gtag/js?id=AW-970179016" type="b8c2178d8f57671fd765916b-text/javascript"></script>
<script type="b8c2178d8f57671fd765916b-text/javascript">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-970179016');
</script>
<noindex>

<script type="b8c2178d8f57671fd765916b-text/javascript">
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js", "ym");
    ym(20454571, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true,
        trackHash:true
    });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/20454571" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

</noindex>
<link href="../themes/yclients/new-2019/vendor.css" rel="stylesheet"><link href="../themes/yclients/new-2019/app.css" rel="stylesheet"><script async src='../cdn-cgi/bm/cv/669835187/api.js'></script></head>
<body>
<div class="loader">
<div class="sk-three-bounce loader_img">
<div class="sk-child sk-bounce1"></div>
<div class="sk-child sk-bounce2"></div>
<div class="sk-child sk-bounce3"></div>
</div>
</div>
<div class="body">

<header id="mob-header" class="header scrolled">
<div class="burger burger-open">
<span></span>
</div>
<div class="header-backdrop"></div>
<ul class="nav-list">
<li>
<a href="info/pricing.html">Prețurile</a>
</li>
<li>
<a href="reviews.html">Recenzii</a>
</li>

<li class="last-child">
<a href="../blog.html" target="_blank">
YJOURNAL
</a>

</ul>
<strong class="logo">
<a href="../ro.html"></a>
</strong>
<div class="inner-box">
<a href="https://www.yclients.com/onboarding/first" class="reg-link" target="_blank">ÎNREGISTRARE</a>
<a href="../signin.html" class="log-link mob-active" target="_blank">LOG IN</a>
</div>
<a href="tel:88005050475" class="tel_link mob">8 (800) 505-04-75</a>
</header>
<div class="menu-holder" id="block_id">
<div class="inner-wrap">
<div class="scroll-holder">
<div class="holder-box">
<div class="box">
<span class="title">Продукт:</span>
<span class="title mob">Функции продукта:</span>
<ul class="menu-list">
<li>
<a href="online-booking.html">Programare-online</a>
</li>
<li>
<a href="electronic-schedule.html">Agenda electronică</a>
</li>
<li>
<a href="sms-and-email-notification.html">Modul notificări</a>
</li>
<li>
<a href="client-base.html">Baza de date clienți</a>
</li>
<li>
<a href="statistics-and-analytics.html">Statistică și analitică</a>
</li>
<li>
<a href="inventory-control.html">Gestiune stoc</a>
</li>
<li class="small">
<a href="finances-and-accounting.html">Gestiune financiară</a>
</li>
<li class="small">
<a href="electronic-cards.html">Cartele electronice</a>
</li>
<li class="small">
<a href="calculation-of-salaries.html">Calcul salarii</a>
</li>
<li class="small">
<a href="personal-mobile-applications.html">Aplicație mobilă pentru clienți</a>
</li>
<li class="small">
<a href="loyalty-program.html">Programa de loialitate</a>
</li>
<li class="small">
<a href="kassa.html">Lucru cu aparatele de casă</a>
</li>
</ul>
</div>
<div class="box">
<ul class="menu-list style2">
<li>
<a href="info/pricing.html">Prețurile</a>
</li>
<li>
<a href="reviews.html">Recenzii</a>
</li>


<li class="small">
<a href="http://partners.yclients.com/" target="_blank" class="arr">Program de afiliere</a>
</li>
<li class="small">
<a href="../blog.html" target="_blank">
YJOURNAL
</a>
</li>
<li class="small">
<a href="info/contact.html">Feedback</a>
</li>

<li class="small">
<a href="http://support.yclients.com/hc/ru" target="_blank" class="arr">Baza de cunoștințe</a>
</li>
<li class="small">
<a href="https://developer.yclients.com/" target="_blank" class="arr">Pentru dezvoltatori</a>
 </li>
</ul>
<div class="app-holder">
<h3 class="holder-title">Suntem în rețelele de socializare</h3>
<div class="header-row justify-content-end">
<ul class="header-social-icons social-icons social-icons-mobile social-icons-clean d-sm-0 ml-0">
<li>
<a href="https://www.facebook.com/yclients?roistat_visit=482540" target="_blank" title="Facebook" rel=”nofollow”>
<i class="fab fa-facebook-f"></i>
</a>
</li>
<li>
<a class="social-instagram" href="https://www.instagram.com/yclients/?roistat_visit=482540" target="_blank" title="Instagram" rel=”nofollow”>
<i class="fab fa-instagram"></i>
</a>
</li>
<li>
<a href="https://vk.com/yclients?roistat_visit=482540" target="_blank" title="Vk" rel=”nofollow”>
<i class="fab fa-vk"></i>
</a>
</li>
<li>
<a class="social-youtube" href="https://www.youtube.com/channel/UC6aHCPPSU9CDSA5cExZLd3Q?roistat_visit=482540" target="_blank" title="Youtube" rel="nofollow">
<i class="fab fa-youtube"></i>
</a>
</li>
<li>
<a class="social-twitter" href="https://twitter.com/yclients?roistat_visit=482540" target="_blank" title="Twitter" rel="nofollow">
<i class="fab fa-twitter">
</i>
</a>
</li>
</ul>
</div>
<h3 class="holder-title">Aplicație mobilă pentru angajați</h3>
<ul class="app-list">
<li>
<a href="https://itunes.apple.com/ru/app/yclients/id1084371596?mt=8" class="apple" target="_blank" rel="nofollow">
<span class="text">
<img class="lazy-img" src="../assets/yclients/images/new_site/apple_ico.png" alt="image description">
Apple Store
</span>
</a>
</li>
<li>
<a href="https://play.google.com/store/apps/details?id=apps.yclients1" class="gg" target="_blank" rel="nofollow">
<span class="text">
<img class="lazy-img" alt="image description" src="../assets/yclients/images/new_site/market_ico.png">
Google play
</span>
</a>
</li>
<li>
<a href="https://appgallery.huawei.com/app/C105004393?sharePrepath=ag" class="huawei" target="_blank" rel="nofollow">
<span class="text">
<img class="lazy-img" alt="image description" src="../assets/yclients/images/new_site/huawei_ico.png">
AppGallery
</span>
</a>
</li>
</ul> </div>
</div>
</div>
<div class="bottom-menu ">
<a href="../signin.html" class="log-link" target="_blank">LOG IN</a>
<a href="https://www.yclients.com/onboarding/first" class="reg-link pl-4" target="_blank">ÎNREGISTRARE</a>
<div class="select-mobile">
<div class="select-holder">
<select name="dropdown" class="dropdown-lang">
<option value="/en">En</option>
<option value="/el">El</option>
<option value="/hr">Hr</option>
<option value="/hu">Hu</option>
<option value="/pt">Pt</option>
<option value="/ru">Ru</option>
<option value="/sr">Sr</option>
<option value="/tr">Tr</option>
</select> </div>
</div>
</div>
</div>
</div>
</div>
<header id="header" class="side-header d-flex">
<div class="header-body">
<div class="header-container container d-flex h-100">
<div class="header-column flex-row flex-lg-column justify-content-center h-100">
<div class="header-row flex-row justify-content-start justify-content-lg-center py-lg-5">
<div class="header-logo">
<a href="../ro.html">
<img alt="YCLIENTS" src="../assets/yclients/2019-template/img/logo.svg">
</a>
</div>
</div>
<div class="header-row header-row-side-header flex-row h-100 pb-lg-5">
<div class="header-nav header-nav-links header-nav-links-side-header header-nav-links-vertical header-nav-links-vertical-columns align-self-center">
<div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders">
<nav class="collapse">
<ul class="nav nav-pills menu-nav_list" id="mainNav">
<li class="menu-nav_item">
<a href="online-booking.html">
Programare-online
</a>
</li>
<li class="menu-nav_item">
<a href="electronic-schedule.html">
Agenda electronică
</a>
</li>
<li class="menu-nav_item">
<a href="sms-and-email-notification.html">
Modul notificări
</a>
</li>
<li class="menu-nav_item">
<a href="client-base.html">
Baza de date clienți
</a>
</li>
<li class="menu-nav_item">
<a href="statistics-and-analytics.html">
Statistică și analitică
</a>
</li>
<li class="menu-nav_item">
<a href="inventory-control.html">
Gestiune stoc
</a>
</li>
<li class="dropdown">
<a class="dropdown-item dropdown-toggle" href="reviews.html#">
<strong style="font-weight: 600">Toate funcționalitățile</strong>
</a>
<ul class="dropdown-menu">
<li class="menu-nav_item">
<a class="dropdown-item" href="finances-and-accounting.html">Gestiune financiară</a>
</li>
<li class="menu-nav_item">
<a class="dropdown-item" href="loyalty-program.html">Programa de loialitate</a>
</li>
<li class="menu-nav_item">
<a class="dropdown-item" href="electronic-cards.html">Cartele electronice</a>
</li>
<li class="menu-nav_item">
<a class="dropdown-item" href="calculation-of-salaries.html">Calcul salarii</a>
</li>
<li class="menu-nav_item">
<a class="dropdown-item" href="personal-mobile-applications.html">Aplicație mobilă pentru clienți</a>
</li>
<li class="menu-nav_item">
<a class="dropdown-item" href="telephony.html">Integrare cu telefonie</a>
</li>
<li class="menu-nav_item">
<a class="dropdown-item" href="kassa.html">Integrare cu sistemele de casă</a>
</li>
</ul>
</li>
</ul>
</nav>
</div>
</div>
</div>
<div class="header-row justify-content-end pb-lg-3 hidden">
<ul class="header-social-icons social-icons d-none d-sm-block social-icons-clean d-sm-0 ml-0">
<li class="social-icons-facebook">
<a href="https://www.facebook.com/yclients?roistat_visit=482540" target="_blank" title="Facebook" rel=”nofollow”>
<i class="fab fa-facebook-f"></i>
</a>
</li>
<li class="social-icons-instagram">
<a class="social-instagram" href="https://www.instagram.com/yclients/?roistat_visit=482540" target="_blank" title="Instagram" rel=”nofollow”>
<i class="fab fa-instagram"></i>
</a>
</li>
<li class="social-icons-vk">
<a href="https://vk.com/yclients?roistat_visit=482540" target="_blank" title="Vk" rel=”nofollow”>
<i class="fab fa-vk"></i>
</a>
</li>
<li class="social-icons-youtube">
<a class="social-youtube" href="https://www.youtube.com/channel/UC6aHCPPSU9CDSA5cExZLd3Q?roistat_visit=482540" target="_blank" title="Youtube" rel="nofollow">
<i class="fab fa-youtube"></i>
</a>
</li>
<li class="social-icons-twitter">
<a class="social-twitter" href="https://twitter.com/yclients?roistat_visit=482540" target="_blank" title="Twitter" rel="nofollow">
<i class="fab fa-twitter">
</i>
</a>
</li>
</ul>
</div>
<div class="justify-content-end pb-lg-3 hidden">
<a href="https://itunes.apple.com/ru/app/yclients/id1084371596?mt=8" class="apple" target="_blank" rel="nofollow">
<img src="../assets/yclients/images/new_site/appstore.svg" alt="App Store"></span>
</a>
<a href="https://play.google.com/store/apps/details?id=apps.yclients1" class="gg" target="_blank" rel="nofollow">
<img src="../assets/yclients/images/new_site/google-play.svg" alt="Google Play">
</a>
<a href="https://appgallery.huawei.com/app/C105004393?sharePrepath=ag" class="huawei" target="_blank" rel="nofollow">
<img src="../assets/yclients/images/new_site/huawei.svg" alt="Google Play">
</a>
</div> </div>
</div>
 </div>
</header>
<div class="top-header-row py-lg-4 d-none d-xl-block">
<ul class="nav-list">
<li>
<a href="info/pricing.html" class="anim-link-2">Prețurile</a>
</li>
<li>
<a href="reviews.html" class="anim-link-2">Recenzii</a>
</li>

<li>
<a href="../blog.html" class="anim-link-2" target="_blank">
YJOURNAL
</a>
</li>

</ul>
<ul class="inner-box">
<li>
<a href="https://www.yclients.com/onboarding/first" class="header-account header-signup anim-link-2">
ÎNREGISTRARE
</a>
</li>
<li>
<a href="../signin.html" class="header-account header-login anim-link-2">
LOG IN
</a>
</li>
</ul>
</div>

<main id="content">
<section class="section">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">

<h2 class="mb-6">
De ce liderii aleg YCLIENTS?
</h2>

</div>
</div>
<div class="row">
<div class="col-md-6">
<div id="slider-image" class="slider-clients" data-provide="slider" data-as-nav-for="#slider-thumb" data-arrows="true">
<div class="slider-clients_box">
<img src="../assets/yclients/images/new_site/clients_big/1x/7-1.jpg" alt="Image Description">
<a href="https://www.youtube-nocookie.com/embed/QWWmdeFZBd0?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;modestbranding=1" class="m-video-link" data-provide="lightbox" rel="”nofollow”">
<div class="m-video-link--icon">
<i class="fas fa-play"></i>
</div>
</a>
</div>
<div class="slider-clients_box">
<img src="../assets/yclients/images/new_site/clients_big/1x/5.jpg" alt="Image Description">
<a href="https://www.youtube-nocookie.com/embed/cpZ-xYRIWmg?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;modestbranding=1" class="m-video-link" data-provide="lightbox" rel="”nofollow”">
<div class="m-video-link--icon">
<i class="fas fa-play"></i>
</div>
</a>
</div>
<div class="slider-clients_box">
<img src="../assets/yclients/images/new_site/clients_big/1x/8-1.jpg" alt="Image Description">
<a href="https://www.youtube-nocookie.com/embed/1cOcSDln5wc?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;modestbranding=1" class="m-video-link" data-provide="lightbox" rel="”nofollow”">
<div class="m-video-link--icon">
<i class="fas fa-play"></i>
</div>
</a>
</div>
<div class="slider-clients_box">
<img src="../assets/yclients/images/new_site/clients_big/1x/1-1.jpg" alt="Image Description">
<a href="https://www.youtube-nocookie.com/embed/GYFWaS-m5mg?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;modestbranding=1" class="m-video-link" data-provide="lightbox" rel="”nofollow”">
<div class="m-video-link--icon">
<i class="fas fa-play"></i>
</div>
</a>
</div>
<div class="slider-clients_box">
<img src="../assets/yclients/images/new_site/clients_big/1x/2-1.jpg" alt="Image Description">
<a href="https://www.youtube-nocookie.com/embed/zgkRKWWhA5Y?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;modestbranding=1" class="m-video-link" data-provide="lightbox" rel="”nofollow”">
<div class="m-video-link--icon">
<i class="fas fa-play"></i>
</div>
</a>
</div>
</div>
</div>
<div class="col-md-6">
<div id="slider-thumb" data-provide="slider" data-as-nav-for="#slider-image" data-slides-to-show="1" data-center-mode="true" data-dots="true" data-focus-on-select="true">
<div>
<blockquote class="blockquote testimonial-quote ml-8 mt-4">
<p class="mb-0 text-dark fw-500">
YCLIENTS vă ajută să vă planificați ziua la salon și să înțelegeți câți clienți vor veni, câți dintre ei sunt fideli, câți sunt noi și cum să completați intervalele de timp liber. Acesta este un instrument important pentru fiecare administrator.
</p>
</blockquote>
<div class="d-flex align-items-center">
<div class="avatar mr-4">
<img class="img-fluid rounded-circle" src="../assets/yclients/images/new_site/brands_smile/5-1.png" alt="Image Description">
</div>
<div class="mr-3">
<h4 class="fs-16 mb-0">Alexander Bratslavsky</h4>
<small class="text-muted">
Fondator "Punctul beauty"
</small>
</div>
</div>
</div>
<div>
<blockquote class="blockquote testimonial-quote ml-8 mt-4">
<p class="mb-0 text-dark fw-500">
Dacă nu ar exista YCLIENTS, nu aș putut să devin lider atât de repede. Cuprindeți două lucruri importante. Menținerea întregii „ferme colective”, adică gestiunea totală. Și un sistem de programare. Realizarea programului dvs. la început este aproape imposibilă. Și dați o astfel de oportunitate tuturor.
</p>
</blockquote>
<div class="d-flex align-items-center">
<div class="avatar mr-4">
<img class="img-fluid rounded-circle" src="../assets/yclients/images/new_site/brands_smile/6.jpg" alt="Image Description">
</div>
<div class="mr-3">
<h4 class="fs-16 mb-0">Alexey Lokontsev</h4>
<small class="text-muted">Top managerul rețelei TopGun</small>
</div>
</div>
</div>
<div>
<blockquote class="blockquote testimonial-quote ml-8 mt-4">
<p class="mb-0 text-dark fw-500">
Majoritatea recenziilor vin prin sistemul YCLIENTS. Oamenii scriu comentarii detaliate pe care le studiem în fiecare zi. La sfârșitul lunii facem un rezumat la rezultatele lucrărilor. Avem planuri de dezvoltare. Există un sistem de bonusuri. Totul este digitalizat prin YCLIENTS
</p>
</blockquote>
<div class="d-flex align-items-center">
<div class="avatar mr-4">
<img class="img-fluid rounded-circle" src="../assets/yclients/images/new_site/brands_smile/7-1.png" alt="Image Description">
</div>
<div class="mr-3">
<h4 class="fs-16 mb-0">
Maria Dyakonova
</h4>
<small class="text-muted">
Fondator "City Nails"
</small>
</div>
</div>
</div>
<div>
<blockquote class="blockquote testimonial-quote ml-8 mt-4">
<p class="mb-0 text-dark fw-500">
În perioada când am început să folosim YCLIENTS aveam 3 saloane. Acum 60. YCLIENTS este în continuă îmbunătățire. Dacă mai demult era un program pentru programare și agendă, acum ținem în YCLIENTS atât o gestiunea stocului, cât și salariu, analizăm eficacitatea fiecărui specialist.
</p>
</blockquote>
<div class="d-flex align-items-center">
<div class="avatar mr-4">
<img class="img-fluid rounded-circle" src="../assets/yclients/images/new_site/brands_smile/1-1.png" alt="Image Description">
</div>
<div class="mr-3">
<h4 class="fs-16 mb-0">
Tatiana Shutova
</h4>
<small class="text-muted">
Fondator "4hands"
</small>
</div>
</div>
</div>
<div>
<blockquote class="blockquote testimonial-quote ml-8 mt-4">
<p class="mb-0 text-dark fw-500">
Nu mă mai interesează doar programarea unui client și verificarea. Cu YCLIENTS, construim o pâlnie automatizată cu notificări automate și alte funcții de remarketing.
</p>
</blockquote>
<div class="d-flex align-items-center">
<div class="avatar mr-4">
<img class="img-fluid rounded-circle" src="../assets/yclients/images/new_site/brands_smile/2-2.jpg" alt="Image Description">
</div>
<div class="mr-3">
<h4 class="fs-16 mb-0">
Alexandru dolgov si Kira Dolgova
</h4>
<small class="text-muted">
Fondatori "Laser Love"
</small>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section style="background: url(https://www.yclients.com/assets/yclients/images/clients/clients-img/bitmap.jpg)no-repeat center center; background-size: cover;">
<div class="container">
<div class="row pb-13">
<div class="col-md-10 offset-md-1 pt-5">
<h4 class="fs-18 text-color-dark mb-1">
Дмитрий Андреев
</h4>
<p class="fs-14 text-color-dark">
Руководитель сети «Франт»
</p>
</div>
</div>
<div class="row">
<div class="col-md-10 offset-md-1 pb-5 pt-13">
<h2 class="text-white">
«YCLIENTS — программа, без которой невозможно<br>
представить современный парикмахерский бизнес»
</h2>
</div>
</div>
</div>
</section>
<section class="pt-7 pb-0">
<div class="container">
<div class="row">
<div class="col-md-10 offset-md-1">
<h3 class="pb-5">
Безупречная техническая поддержка
</h3>
<div class="pl-8">
<p class="fs-16 mb-5">
«В любом бизнесе, где необходимо согласовывать заранее визит клиента, онлайн-запись является базовым инструментом, таким же, как кассовый аппарат или хороший кофе для клиента. Это удобно для посетителей, персонала и руководителя — у всех есть доступ к прозрачной системе записи. Основная причина, по которой мы выбрали YCLIENTS, — безупречная техническая поддержка. Мы получали незамедлительные ответы на все вопросы, связанные с процессом интеграции онлайн-записи в рабочий процесс. Специально по нашим требованиям были разработаны дополнительные возможности системы. Также в YCLIENTS нам понравился интерфейс, скорость обработки данных и работа без перезагрузки окна браузера. Хорошим дополнением стала возможность вести учет посещений и чеков постоянных клиентов»
</p>
<div class="d-flex align-items-center">
<div class="avatar mr-4">
<img class="img-fluid rounded-circle" src="../assets/yclients/images/anton.png" alt="Image Description">
</div>
<div class="mr-3">
<h4 class="fs-14 mb-0">
Антон Максаков
</h4>
<small class="text-muted">
Руководитель проекта «Firm»
</small>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="mt-7 pb-0" style="background-color: #ffc549;">
<div class="container-fluid">
<div class="row">
<div class="col-md-6 offset-md-1 pt-5">
<h2 class="text-white">
«SMS-напоминания уменьшили количество опоздавших на стрижку. Удобный календарь <br>и оперативная поддержка»
</h2>
<div class="col-md-11 offset-md-1 pb-5 pt-13">
<h4 class="fs-18 text-color-dark mb-1">
Алина Маляу
</h4>
<p class="fs-14 text-color-dark">
Основатель сети «Noir»
</p>
</div>
</div>
<div class="col-md-5" style="background: url(../assets/yclients/images/clients/clients-img/alinamalyu.jpg)no-repeat 50% 50%;
    background-size: cover;">
</div>
</div>
</div>
</section>
<section class="pt-7 pb-0">
<div class="container">
<div class="row">
<div class="col-md-10 offset-md-1">
<h3 class="pb-5">
Удобный сервис, который экономит время
</h3>
<div class="pl-8">
<p class="fs-16 mb-5">
«Для меня YCLIENTS стал помощником в планировании примерок. Мы получили большое количество клиентов, которые записываются вне времени работы салона. Это позволило разгрузить сотрудников, которые в течение дня заняты с невестами, но главное - система онлайн-записи дает клиенту способ связи с салоном, доступный в любое время. Кроме того, я много встречаю людей, которым принципиально проще написать, чем найти время и возможность позвонить. В глазах клиента YCLIENTS это удобный сервис, который экономит время. Для нас YCLIENTS это помощь в ежедневной работе, это инструмент, который позволил упорядочить клиентскую базу, позволил быть удобными и ответственными. Спасибо команде за быстрое реагирование, помощь и поддержку во всех вопросах.»
</p>
<div class="d-flex align-items-center">
<div class="avatar mr-4">
<img class="img-fluid rounded-circle" src="../assets/yclients/images/alexandra.png" alt="Image Description">
</div>
<div class="mr-3">
<h4 class="fs-14 mb-0">
Александра Метелева
</h4>
<small class="text-muted">
Руководитель свадебных салонов «Мэри Трюфель»
</small>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="mt-7 pb-0" style="background-color: #ffc549;">
<div class="container">
<div class="row">
<div class="col-md-10 offset-md-1 pt-5">
<h2 class="text-white">
«YCLIENTS ДАЕТ ВОЗМОЖНОСТЬ ВЫВОДИТЬ ЛЮБЫЕ ЦИФРЫ И СОСТАВЛЯТЬ ДАЖЕ САМЫЕ СЛОЖНЫЕ ОТЧЕТЫ ЗА СЕКУНДЫ»
</h2>
</div>
</div>
<div class="row">
<div class="col-md-10 offset-md-1 pb-5 pt-13">
<h4 class="fs-18 text-color-dark mb-1">
Костя Гальперин
</h4>
<p class="fs-14 text-color-dark">
Управляющий сети концептуальных<br>
салонов «Backstage» и «Freebarbers»
</p>
</div>
</div>
</div>
</section>
<section class="pt-7 pb-0">
<div class="container">
<div class="row">
<div class="col-md-10 offset-md-1">
<h3 class="pb-5">
Мощный инструмент, пронизывающий бизнес-процессы
</h3>
<div class="pl-8">
<p class="fs-16 mb-5">
«Здесь мы считаем все финансы, следим за кассовой дисциплиной, анализируем статистику по продажам, сравниваем показатели работы мастеров, что позволяет выделить самых лучших, сегментируем базу клиентов, работаем со складом и многое другое. YCLIENTS проста в обращении, совершенно неподготовленный человек может открыть ее и сразу начать пользоваться. Мощный API, который помогает нам сделать некоторые индивидуальные доработки для еще более успешной работы в нашей сети мужских парикмахерских "Биг Бро". Ну и, конечно, у ребят очень профессиональная и быстрая поддержка. Я считаю каждому салону красоту (стоматологии, клинике и т.п) пора выкинуть все бумажные журналы учета, и стать, наконец, в разы эффективнее.»
</p>
<div class="d-flex align-items-center">
<div class="avatar mr-4">
<img class="img-fluid rounded-circle" src="../assets/yclients/images/marat.png" alt="Image Description">
</div>
<div class="mr-3">
<h4 class="fs-14 mb-0">
Марат Бибишев
</h4>
<small class="text-muted">
Создать проекта «Big Bro»
</small>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="pt-7 pb-0">
<div class="container">
<div class="row">
<div class="col-md-10 offset-md-1 mb-5">
<h3 class="pb-2">
Опыт лидеров, доступный каждому
</h3>
<p class="fs-18 text-primary">
YCLIENTS помогает малому бизнесу автоматизировать
процессы уже 9 лет
</p>
</div>
</div>
<div class="row">
<div class="col-md-5 offset-md-1 col-lg-5 mb-7">
<div class="media pr-lg-5">
<div class="w-60px mr-4">
<img src="../assets/yclients/images/ilya.png" alt="Online Booking Software and Appointment Scheduling">
</div>
<div class="media-body">
<h4 class="fs-14 mb-0">
Илья Печерский
</h4>
<small class="text-muted fs-14">
Директор салона "WAX BAR"
</small>
<p class="fs-14 pt-2">
История нашего развития очень тесно переплетается с развитием CRM системы YCLIENTS. С первых дней мы пользуемся всеми благами этой удивительной облачной технологии, вся наша работа построена вокруг возможностей CRM. Например, у вас есть удобная онлайн-запись — мы сделали скидку при записи онлайн. В итоге более 70 % клиентов записываются сами — и днем, и ночью. У вас есть SMS- уведомления и SMS-рассылки — мы больше не делаем рутинную работу. Администратору пришлось научиться делать эпиляцию. У вас есть акции — мы забыли о рекламе в каталогах, интернете, и т.п. Экономия средств, никаких повышений цен, новые лояльные клиенты только по рекомендации. Я завидую той компании, которой только предстоит познакомиться с платформой YCLIENTS, с ее замечательным коллективом и службой поддержки. Наш салон позитивной эпиляции WAX BAR невозможно представить без Вас.
</p>
</div>
</div>
</div>
<div class="col-md-5 offset-md-1 col-lg-5 mb-7">
<div class="media pr-lg-5">
<div class="w-60px mr-4">
<img src="../assets/yclients/images/img09.png" alt="Online Booking Software and Appointment Scheduling">
</div>
<div class="media-body">
<h4 class="fs-14 mb-0">
Елена Удовенко
</h4>
<small class="text-muted fs-14">
Директор салона «Annie Hall»
</small>
<p class="fs-14 pt-2">
Все мы знаем, как протекает жизнь в мегаполисе: нехватка свободного времени, много работы, куча дел. На сегодняшний день, что касается посещения салонов красоты и записи в салон, команда сервиса записи YCLIENTS придумала отличную возможность записываться в салон в удобное для клиента время и к мастеру, который приглянулся именно ему. Онлайн-запись помогает нам не только организовать правильно время, но и уменьшает процент неявок, поскольку каждому клиенту приходят SMS-уведомления за два дня и два часа, что очень удобно для клиента и самого салона. У наших клиентов появилась возможность самостоятельно создавать, а также отменять свой визит в салон красоты, даже во внерабочее время салона.
</p>
</div>
</div>
</div>
<div class="col-md-5 offset-md-1 col-lg-5 mb-7">
<div class="media pr-lg-5">
<div class="w-60px mr-4">
<img src="../assets/yclients/images/alena2.png" alt="Online Booking Software and Appointment Scheduling">
</div>
<div class="media-body">
<h4 class="fs-14 mb-0">
Алена Никифирова
</h4>
<small class="text-muted fs-14">
Руководитель салона «Figaro»
</small>
<p class="fs-14 pt-2">
Благодаря системе нам удалось разгрузить работу администратора, и теперь он может уделять больше времени живому общению с клиентами. Мы предложили новую «фишку» нашим клиентам, что, в принципе, стало нашим конкурентным преимуществом.
</p>
</div>
</div>
</div>
<div class="col-md-5 offset-md-1 col-lg-5 mb-7">
<div class="media pr-lg-5">
<div class="w-60px mr-4">
<img src="../assets/yclients/images/fatima.png" alt="Online Booking Software and Appointment Scheduling">
</div>
<div class="media-body">
<h4 class="fs-14 mb-0">
Фатима Нагоева
</h4>
<small class="text-muted fs-14">
Директор салона «Тут Стригут»
</small>
<p class="fs-14 pt-2">
Очень удобная запись, как для нас, так и для клиентов. Не подводила, работает как часы. Всегда на связи куратор, отвечает на письма сразу. Загрузила на днях Приложение на айфон, оно, к сожалению, не полное, показана только запись. Было бы отлично если было полное Приложение, где можно ставить сотрудника, убирать дни, видеть каландарь и т.п. Спасибо за качественную работу!
</p>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="pt-3 pb-7">
<div class="container">
<div class="row">
<div class="col-sm-12 col-md-11 offset-md-1 p-8 py-7">
<h3 class="h2  mb-8">Оставить отзыв</h3>
<form class="input-line " action="reviews.html#" method="POST" novalidate="novalidate">
<div class="contact-form-success alert alert-success d-none">
<strong>Success!</strong> Your message has been sent to us.
</div>
<div class="contact-form-error alert alert-danger d-none">
<strong>Error!</strong> There was an error sending your message.
<span class="mail-error-message d-block"></span>
</div>
<div class="form-row">
<div class="form-group input-group col-md-12">
<input type="text" value="" data-msg-required="Имя " maxlength="100" class="form__item_imput reviewsName form-control" name="name" id="name" placeholder="Имя " required="">
</div>
</div>
<div class="form-row">
<div class="form-group input-group col-md-12">
<input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Email" maxlength="100" class=" form__item_imput reviewsMail form-control" name="email" id="email" placeholder="Email" required="">
</div>
</div>
<div class="form-row">
<div class="form-group input-group col">
<input type="text" value="" data-msg-required="Телефон" maxlength="100" class="form__item_imput reviewsPhone form-control" name="subject" id="subject" placeholder="Телефон" required="">
</div>
</div>
<div class="form-row">
<div class="form-group input-group col">
<textarea maxlength="5000" data-msg-required="Оставьте свое сообщение здесь..." rows="5" class="form__item__msg reviewsMessage form-control" name="message" id="message" placeholder="Оставьте свое сообщение здесь..." required=""></textarea>
</div>
</div>
<div class="contact-confid_check mt-3 mb-3">
<div class="row m-b agreement-block">
<div class="col-12">
<div class="check-material">
<input type="checkbox" name="agreement" id="agreement-checkbox" checked>
<label for="agreement-checkbox"></label>
<span class="ml-4">
Я согласен на обработку персональных данных и принимаю <a href="https://www.yclients.com/info/confidential" target="_blank">политику конфиденциальности</a>
</span>
</div>
</div>
</div>
</div>
<div class="form-row mt-2">
<div class="col">
<button class="form__item_btn btn btn-primary btn-block transition-hover" onclick="if (!window.__cfRLUnblockHandlers) return false; return ms.contact.sendcontactsReviews();" data-cf-modified-b8c2178d8f57671fd765916b-="">
Отправить сообщение
</button>
</div>
</div>
</form>
</div>
</div>
</div>
</section>

</main>


<div class="fixed-bottom-box">
<div class="callback-wrapper">
<a href="tel:40368228212" class="tel_link">
+40 368 22 82 12
</a>

</div>
<div class="select-holder">
<select name="dropdown" class="dropdown-lang">
<option value="/en">En</option>
<option value="/el">El</option>
<option value="/hr">Hr</option>
<option value="/hu">Hu</option>
<option value="/pt">Pt</option>
<option value="/ru">Ru</option>
<option value="/sr">Sr</option>
<option value="/tr">Tr</option>
</select> </div>
</div>
</div>











<script src="../themes/yclients/new-2019/all.min.js%3Fv2.22" async type="b8c2178d8f57671fd765916b-text/javascript"></script>




<script type="b8c2178d8f57671fd765916b-text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40235336-1', 'auto');
    ga('send', 'pageview');
</script>

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KB8MG4"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<noindex>
<script type="b8c2178d8f57671fd765916b-text/javascript" src="https://connect.facebook.net/en_US/all.js"></script>
<div class="modal inmodal animated bounceInRight" id="callModal" role="dialog" style="display: none;">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header text-center">
<button type="button" class="close" onclick="if (!window.__cfRLUnblockHandlers) return false; ms.callback.hideWidget()" data-dismiss="modal" data-cf-modified-b8c2178d8f57671fd765916b-=""><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
<img src="../assets/yclients/images/new_site/phone-receiver.png" alt="Online Booking Software and Appointment Scheduling" alt="Online Booking Software and Appointment Scheduling">
<div class="modal-title">У Вас остались вопросы?</div>
<small class="font-bold">Мы перезвоним Вам в течение 59 секунд</small>
</div>
<div class="modal-body">
<form class="form-horizontal">
<div class="form-group">
<input type="tel" placeholder="Введите телефон" class="phone form-control" id="callBack">
</div>
<div class="form-group">
<div class="agreement-block">
<input type="checkbox" name="agreement" id="agreement-block" checked />
<label for="agreement-block">Я согласен на обработку персональных данных и принимаю <a href="https://www.yclients.com/info/confidential" target="_blank">политику конфиденциальности</a></label>
</div> </div>
<div class="form-group text-center m-b-none">
<a class="btn btn-primary" id="makeCallButton" onclick="if (!window.__cfRLUnblockHandlers) return false; return ms.callback.makeCall();" data-loading-text="Loading..." style="    padding: 5px 13px; font-size: 14px;" data-cf-modified-b8c2178d8f57671fd765916b-="">
Жду звонка!
</a>
</div>
</form>
</div>
<div class="modal-footer" style="text-align:center">
<div class="modal-title">засекайте...</div>
<div>
<span class="timer_result" id="timer_result">0:<span class="callback_time">59</span>,00</span>
</div>
</div>
</div>
</div>
</div>
</noindex>
<script type="b8c2178d8f57671fd765916b-text/javascript" src="../themes/yclients/new-2019/1.bundle.js%3Fv2.22"></script><script type="b8c2178d8f57671fd765916b-text/javascript" src="../themes/yclients/new-2019/bundle.js%3Fv2.22"></script><script src="../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="b8c2178d8f57671fd765916b-|49" defer=""></script><script type="text/javascript">(function(){window['__CF$cv$params']={r:'71700ba69e169dd8',m:'RykwnZoL0HDjakiipj1K3BU1uHZ2UoRsErhGr6NYPHg-1654506947-0-AWa0dA/Y+zGeLihSjFh34Ku+oHpPfBpc84BoAecl/2RYgk+ceWgJaQjh6ZoeA5/yTjVmqTdNHrr9uDEbEGGsEuIdWWpzkidIdonW9bknMS2tT0FrZYLq4In98XKqv53SRg==',s:[0x6b4cb4bde8,0xf702322d49],}})();</script></body>
</html>
